Django==5.1.1
Pillow==10.4.0
selenium==4.25.0
webdriver-manager==4.0.0
pywebpush==1.14.1
py-vapid==1.9.0
cryptography>=3.4.8
gunicorn
psycopg2-binary 
dj-database-url
django-phonenumber-field
phonenumbers
whitenoise
cloudinary 
django-cloudinary-storage
python-dotenv